body {
	background-color: #ffa64d;
}
html,
body {
	height: 100%;
}

.imagebg {
	
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	background-attachment: fixed;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	
}

.form-header
{
	font-size: 10em;
	text-align: center;
}

.form-text
{
	font-size: 2em;
	text-align: center;
	margin-bottom: 1em;
}

.form-container
{
	
	margin-right: 50px;
	margin-left: 50px;
	background-color: #fff;
	box-shadow: 0 16px 24px 2px rgba(0,0,0,0.14), 0 20px 30px 5px rgba(0,0,0,0.12), 0 8px 10px -5px rgba(0,0,0,0.3);
    border-radius: 8px;	
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
	margin-bottom: 50px;
}

.form-group {
	margin-left: 50px;
	margin-right: 50px;
}

.col-6 form-group {
	margin-left: 50px;
	margin-right: 50px;
}

.contact-us {
	margin-left: 50px;
	margin-right: 50px;
}







